
/* GAME */
.container{
  display:grid;
  grid-template-areas:
  "empty game empty"
  "empty game empty"
  "empty game empty";
  background-color:rgb(63, 63, 67);
}
.gameBox{
  grid-area:game;
  background-color:rgb(186, 219, 248);
  height:35rem;
  width:50rem;
} 
/* .cover{
  grid-area:empty;
  background-color:rgb(63, 63, 67);
  height: 35rem;
  width:50rem
} */
h1{
  font-size:50px;
  text-align:center;
  color:beige;
}

.dino{
display:block;
position:relative;
top:15rem;
width: 3rem;
height: 8rem;
background-color:rgb(186, 219, 248);
}

.obs{
  display:block;
  position:absolute;
  left:60rem;
  top: 31rem;
  width:4rem;
  height:4rem;
  background-color:rgb(186, 219, 248);
} 
.obs2{
  display:block;
  position:absolute;
  left:55rem;
  top:31rem;
  width:4rem;
  height:4rem;
  background-color:rgb(186, 219, 248);
}
.score{
  text-align:center;
  position:relative;
  font-size:50px;
  color:beige;
}
body{
  background-color:rgb(63, 63, 67);
}

.terry{
  position:absolute;
  height:4rem;
  background-color:rgb(186, 219, 248);
  left:55rem;
  top:12rem;
}
.doug{
  position:absolute;
  height:3rem;
  background-color:rgb(186, 219, 248);
  left:55rem;
  top:6rem;
}
/* HOMESCREEN */
.home-h1{
  font-size: 100px;
  display:flex;
  justify-content:center;
  color:beige;
}
a{
  font-size: 80px;
  display:flex;
  justify-content:center;
  text-decoration: none;
  color:beige;
}
a:hover{
  font-size:90px;
}
container{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

/* GAMEOVER */

.dead-h1{
  font-size: 100px;
  display:flex;
  justify-content:center;
  color:beige;
}
.restart-button{
background-color:rgb(63, 63, 67);
height:100px;
}
.restart-button:hover{
  background-color:rgb(63, 63, 67);
height:110px;

}