h1{
  display:flex;
  justify-content:center;
}
container{
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.resume{
  height:50px;
  width:100px;
}
.restart{
  height:50px;
  width:100px;
}
.home{
  height:50px;
  width:100px;
}